
.cardd{
    border-radius: 10px !important;
    box-shadow: rgba(194, 194, 196, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border: none !important;
    max-width: 800px;
    margin: 0 auto;
    background: transparent;
}

.home{
    margin-top: 55px;
    background: #333;
}